@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
:root {
    
    --main-color:  #102040; 
    --color-dark: #6b90ff;
    --text-grey: #8390a2;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.status-animated {
    transition: background-color 0.5s, color 0.5s;
}
.status-safe {
    background-color: #145A32 !important;
    color: #ffffff !important;
}
.status-moving {
    background-color: #102040 !important;
    color: #ffffff !important;
}

.barra-lateral {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.lateral-titulo {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: rgb(255, 255, 255);
}

.lateral-titulo span {
    display: inline-block;
    padding-right: 1rem;
}

.map {
    height: 400px;
    width: 100%;
}

.menu-lateral {
    margin-top: 1rem;
}

.menu-lateral li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;

}

.menu-lateral a {
    padding-left: 1rem;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

.menu-lateral a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#hamburguesa:checked + .barra-lateral {
    width: 70px;
}

#hamburguesa:checked + .barra-lateral .lateral-titulo,
#hamburguesa:checked + .barra-lateral li {
    padding-left: 1rem;
    text-align: center;
}

#hamburguesa:checked + .barra-lateral li a {
    padding-left: 0rem;
}


#hamburguesa:checked + .barra-lateral .lateral-titulo h2 span:last-child,
#hamburguesa:checked + .barra-lateral li a span:last-child {
    display: none;
}

.menu-lateral a:hover {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color) ;
    border-radius: 30px 0px 0px 30px;
    transition: 700ms;
}

.menu-lateral a.activo {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color) ;
    border-radius: 30px 0px 0px 30px;
    transition: 700ms;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: width 300ms;
}

#hamburguesa {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

#hamburguesa:checked ~ .main {
    margin-left: 70px;
}

#hamburguesa:checked ~ .main header{
    width: calc(100% - 70px);
    left: 70px;
}

.main {
    margin-left: 345px;
    transition: margin-left 300ms;
}

.seccion-usuario {
    display: flex;
    align-items: center;
}

.seccion-usuario img {
    border-radius: 50%;
    margin-right: 1rem;
}


.seccion-usuario small {
    display: inline-block;
    color: var(--text-grey);


}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px) ;
}

.tarjetas-profes {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.tarjetas-alumnos{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.tarjetas-index {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.tarjetas-grupos {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.tarjetas-pass {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}

.tarjeta-gral {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;
    color: var(--main-color);
}

.tarjeta-gral div:last-child span {
    font-size: 3rem;
}


.tarjeta-gral:hover {
    display: flex;
    justify-content: space-between;
    background: var(--main-color);
    padding: 2rem;
    border-radius: 5px;
    transition: 500ms;
    color: rgb(255, 255, 255);
}

.tarjeta-gral-activa {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    background: var(--main-color);
    padding: 2rem;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;
    color: #ffffff;
}


table{
    border-collapse: collapse;
}

.contenido-gral-grid{
    margin-top: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 100% auto;
}

.tarjeta-contenido{
    background: #fff;
    border-radius: 5px;
}

.tarjeta-contenido-header,
.tarjeta-contenido-body{
    padding: 1rem;
}

.tarjeta-contenido-header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.tarjeta-contenido-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

.consultar{
    
    background: #fff;
    border-radius: 10px;
    transition: 500ms;
    color: rgb(0, 0, 0);
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

.consultar:hover{
    
    background: var(--main-color);
    border-radius: 10px;
    transition: 500ms;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

.entradatxt {
    font-size:13px;
    padding:10px 5px 8px 2px;
    display: flex;
    width: 68%;
    border-radius: 2px;
    border: none;
    border-bottom:2px solid var(--main-color);
  }
  
  .entradatxt:focus { 
      outline:none; 
      border-bottom: 2px solid var(--main-color);
      width: 70%;
  }
  
  .entradatxt:hover{
      font-size: 13px;
      transition: 500ms;
      padding:10px 5px 8px 2px;
      display: flex;
      width: 70%;
      border-radius: 2px;
      border: none;
      border-bottom:2px solid var(--main-color);
  }

thead tr{
   border-top: 1px solid #f0f0f0; 
   border-bottom: 2px solid #f0f0f0; 
}

thead td {
    font-weight: 700;
}

td{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #222;
}
.table-responsive{
   width: 100%; 
   overflow-x: auto;
   overflow-y: auto;
}

header h2{
    display: flex;
    align-items: center;
}

header h2 label {
    display: inline-block;
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;

}

header h2 span{
    text-align: center;
    padding-right: 0rem;
}

@media only screen and (max-width: 1200px){
    .barra-lateral {
        width: 70px;
    }
    
    .barra-lateral .lateral-titulo,
    .barra-lateral li {
        padding-left: 1rem;
        text-align: center;
    }
    
    .barra-lateral li a {
        padding-left: 0rem;
    }
    
    
    .barra-lateral .lateral-titulo h2 span:last-child,
    .barra-lateral li a span:last-child {
        display: none;
    }

    .main {
        margin-left: 70px;
    }
    
    .main header{
        width: calc(100% - 70px);
        left: 70px;
    }
    
}

@media only screen and (max-width: 960px){
    .tarjetas-index{
        grid-template-columns: repeat(1, 1fr);
    }
    .tarjetas-grupos{
        grid-template-columns: repeat(2, 1fr);
    }
    .contenido-gral-grid{
        grid-template-columns: 100%;
    }

    header h2{
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;

    }
    
    header h2 span{
        text-align: center;
        padding-right: 0rem;
    }

    
    
    
}
@media only screen and (max-width: 800px){
    .tarjetas-grupos{
        grid-template-columns: 100%;
    }

    .tarjetas-alumnos{
        grid-template-columns: repeat(1, 1fr);
    }

    .contenido-gral-grid{
        grid-template-columns: 100%;
    }

    .tarjetas-profes{
        grid-template-columns: repeat(1, 1fr);
    }

    .barra-lateral{
        left: -100% !important;
    }

    header h2{
        display: flex;
        align-items: center;
        font-size: 1.1rem;
    }

    header h2 label {
        display: inline-block;
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;

    }
    
    header h2 span{
        text-align: center;
        padding-right: 0rem;
    }

    .main{
        width: 100%;
        margin-left: 0rem;
    }

    header{
        width: 100% !important;
        left: 0 !important;
    }

    #hamburguesa:checked + .barra-lateral{
        left: 0 !important;
        z-index: 100;
        width: 345px;

    }

    
    #hamburguesa:checked + .barra-lateral .lateral-titulo,
    #hamburguesa:checked + .barra-lateral li {
        padding-left: 2rem;
        text-align: left;
    }
    
    #hamburguesa:checked + .barra-lateral li a {
        padding-left: 1rem;
    }
    
    
    #hamburguesa:checked + .barra-lateral .lateral-titulo h2 span:last-child,
    #hamburguesa:checked + .barra-lateral li a span:last-child {
        display: inline;
    }

    #hamburguesa:checked ~ .main{
        margin-left: 0rem !important;
    }
}
