<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='tutorResources.css'>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <input type="checkbox" name="" id="hamburguesa">
    <div class="barra-lateral">

        <div class="lateral-titulo">
           <h2><span class="lab la-accusoft"></span>Escoly</h2>
        </div>
        <div class="menu-lateral">
            <ul>
                <li>
                    <a href="/tutor"><span class="las la-undo"></span><span>Pagina Principal</span></a>
                </li>
                <li>
                    <a class="activo"><span class="las la-lock"></span><span>Password</span></a>
                </li>
                <li>
                    <a href="/tutor/soporte"><span class="las la-universal-access"></span><span>Soporte</span></a>
                </li>
                <li>
                    <a href="/tutor/historial"><span class="las la-history"></span><span>Historial</span></a>
                </li>
                <li>
                    <a href="/logout"><span class="las la-door-closed"></span><span>Cerrar Sesion</span></a>
                </li>
            </ul>
        </div>

    </div>

    <div class="main">
        <header>
            <h2>
                <label for="hamburguesa">
                    <span class="las la-bars"></span>
                </label>
                Tutor
            </h2>
            <div class="seccion-usuario">
                <img src="../images/tutor.png" width="30px" height="30px" alt="">
                <div>
                    <h4>Tutor</h4>
                    <small><%= user.name %></small>
                </div>
            </div>
        </header>

        <main>
            <div class="tarjetas-pass">
                <div class="tarjeta-gral-activa">
                    <div>
                        <h1>Cambiar password</h1>
                        <span class="las la-unlock-alt"></span><span>Cambiar</span>
                    </div>
                    <div>
                        <span class="las la-unlock-alt"></span>
                    </div>
                </div>
            
               
            </div>
            <div class="contenido-gral-grid">
                <div class="contenido">
                    <div class="tarjeta-contenido">
                        <div class="tarjeta-contenido-header">
                            <h3>Cambiar password</h3><span class="las la-key"></span>
                        </div>
                        <div class="tarjeta-contenido-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Password</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form action="/tutor/changePassword" method="POST" id="changePasswordForm">
                                            <tr>
                                                <td>
                                                    Password actual:
                                                    <br>
                                                    <input type="password" name="currentPassword" id="currentPassword"
                                                        value="<%=  formData.currentPassword %>"
                                                        placeholder="Password Actual" class="entradatxt" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Nueva password:
                                                    <br>
                                                    <input type="password" name="newPassword" id="newPassword"
                                                        value="<%=  formData.newPassword %>" class="entradatxt"
                                                        placeholder="Nueva password" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Confirmar nueva password:
                                                    <br>
                                                    <input type="password" name="confirmNewPassword"
                                                        value="<%= formData.confirmNewPassword %>"
                                                        id="confirmNewPassword" class="entradatxt"
                                                        placeholder="Ingrese nuevamente su nueva password" required>
                                                </td>
                                            </tr>
                                        </form>
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tarjetas-index">
                
                <button class="tarjeta-gral" >
                    <div>
                        <h1>Guardar</h1>
                        <span class="las la-save"></span><span>Guardar</span>
                    </div>
                    <div>
                        <span class="las la-save"></span>
                    </div>
                </button>
            
            </div>
        </main>
    </div>

</body>

</html>